body {
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

/* Indicatore di stato */
.status-indicator {
    font-weight: bold;
}

/* Modalità notturna */
.night-mode {
    background-color: #121212; /* Colore di sfondo scuro */
    color: #000000;
}

/* Stili per le card in modalità notturna */
.night-mode .card {
    background-color: #1e1e1e; /* Colore di sfondo della card */
    border-color: #333; /* Colore del bordo della card */
}

/* Pulsanti in modalità notturna */
.night-mode .btn {
    background-color: #333; /* Colore di sfondo del pulsante */
    color: #e0e0e0; /* Colore del testo del pulsante */
}

/* Pulsante primario in modalità notturna */
.night-mode .btn-primary {
    background-color: #3f51b5; /* Colore di sfondo del pulsante primario */
    border-color: #3f51b5; /* Colore del bordo del pulsante primario */
    color: #fff; /* Colore del testo del pulsante primario */
}

/* Pulsante di successo in modalità notturna */
.night-mode .btn-success {
    background-color: #4caf50; /* Colore di sfondo del pulsante di successo */
    border-color: #4caf50; /* Colore del bordo del pulsante di successo */
    color: #fff; /* Colore del testo del pulsante di successo */
}
 
/* Pulsante di pericolo in modalità notturna */
.night-mode .btn-danger {
    background-color: #f44336; /* Colore di sfondo del pulsante di pericolo */
    border-color: #f44336; /* Colore del bordo del pulsante di pericolo */
    color: #fff; /* Colore del testo del pulsante di pericolo */
}

/* Titoli in modalità notturna */
h1, h2, h3, h4, h5, h6, p, label {
    color: #000000;
}


#arduino-code {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 4000px; /* Set a max height for scrolling */
}
#arduino-code code {
    padding: 10px;
    white-space: pre; /* Preserve white space */
}
.line-number {
    padding: 10px;
    background-color: #e8e8e8;
    border-right: 1px solid #ccc;
    text-align: right;
    color: #888;
}
.code-line {
    display: flex;
}
.code-line:hover {
    background-color: #eef; /* Highlight line on hover */
}

/* Stile per il valore da confermare */
.confirmation-pending {
    border: 2px solid red;
    padding: 5px;
    background-color: #f8d7da; /* Colore di sfondo rosso chiaro per evidenziare */
    color: #721c24; /* Colore del testo rosso scuro per evidenziare */
}
